$background-color: #eee;
$primary-color: #36422a;
$secondary-color: #ff953f;
$primary-btn-color: #ff953f;

body{
  font-family: 'Verdana', sans-serif;
  background-color: $background-color;
  line-height: 1.6em;
}


.navbar{
  overflow: auto;
  min-height: 50px;
  background: #36422a;
  color: #fff;
  font-size: 18px;
  border: 0;
  border-radius: 0;
}

.nabar h1{
  margin: 10px 0 0 0;
  padding: 0;
}

.navbar a{
  color: #fff!important;
}

.navbar a:hover{
  color: #ff953f;
}

.navbar a.navbar-brand:hover{
  color: #fff !important;
}

.navbar ul{
  margin-top: 22px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover{
  background: none;
  color: $secondary-color !important;
}


.btn{
  border: none;
  border-radius: 0;
}

.btn-primary{
  background: $primary-btn-color;
}
.btn:hover{
  background-color: #ccc;
}
.post{
  border: 1px #ccc solid;
  background: #fff;
  margin-bottom: 30px
}
.post img{
  width: 100%;
}

.post-content{
  padding: 20px;
  box-sizing: border-box;
}

.post h3{
  margin: 0;
  padding: 0;
}

.post small{
  background: $primary-color;
  color:#fff;
  display: block;
  margin: 10px 0;
  padding: 5px 10px;
}

footer{
  text-align: center;
  margin-top: 30px;
  background-color: $primary-color;
  padding: 20px 0;
  border-top: 1px  solid #666;
  color: #fff;
}
footer p{
  margin: 0px;
}